@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
.navbar #logo {
  font-size: 2.3em;
  font-weight: 700;
  margin-right: 2vw;
  margin-top: 1.5vh;
}

.navbar ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: block;
  text-align: center;
  padding: 1vh 2vw;
  text-decoration: none;
  cursor: pointer;
  margin-top: 3vh;
  float: left;
}

.navbar .navbar__links {
  float: left;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fafafa;
  min-width: 160px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 8px 16px 0px #141414;
          box-shadow: 0px 8px 16px 0px #141414;
  z-index: 1;
  border-radius: 5px;
}

.navbar .dropdown-content a {
  color: #141414;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: dimgray;
}

.navbar .navbar__links:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content > a > img {
  margin-right: 15px;
}

.navbar .down-arrow {
  padding-left: 5px;
}

.navbar .navbar__btn-container {
  float: right;
}

.navbar .navbar__btn-container #btn-container__login-btn {
  margin-right: 3vw;
  padding: 5px 0 5px 0;
}

.navbar .navbar__btn-container #btn-container__register-btn {
  margin-right: 3vw;
  border: 2px solid #141414;
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
  margin-top: 1.5vh;
}

.navbar .navbar__btn-container #btn-container__register-btn:hover {
  background-color: #141414;
  color: #fafafa;
  text-decoration: none;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

@media (max-width: 800px) {
  .navbar__links,
  .navbar__btn-container {
    display: none;
    width: 100%;
  }
  .navbar__links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__links ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navbar__links ul li {
    text-align: center;
  }
  .navbar__btn-container.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Epilogue", serif;
}

body {
  margin: 0;
  padding: 0;
}

#hero-text {
  font-size: 5em;
  margin-top: 18vh;
}

p {
  line-height: 1.5;
  font-size: 1.2em;
}

#learn-btn {
  border: 2px solid #141414;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

#learn-btn:hover {
  background-color: #141414;
  color: #fafafa;
}

.body-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-left: 10vw;
}

.sponsors-container {
  margin-left: -1vw;
  margin-top: -15vh;
}

.sponsors-container img {
  padding: 1.5vw;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.hero-image {
  float: right;
  width: 70%;
  height: auto;
  margin-right: 10vw;
}

.attribution {
  text-align: center;
  font-size: 11px;
  margin-top: 5vh;
}

.attribution a {
  color: #3e4da3;
}
/*# sourceMappingURL=main.css.map */