@mixin blockSize {
  display: block;
  text-align: center;
  padding: 1vh 2vw;
  text-decoration: none;
  cursor: pointer;
}

@mixin centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
