* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", serif;
  // border: 1px solid rgb(255, 0, 0); //see borders
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10vw;

  &__hero-text {
    font-size: 5em;
    margin-top: 18vh;
  }
}

p {
  line-height: 1.5;
  font-size: 1.2em;
}

.body-container__learn-btn {
  border: 2px solid $tertiary-black;
  background-color: $primary-white;
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $tertiary-black;
    color: $primary-white;
  }
}

.body-container__sponsors-container {
  margin-left: -1vw;
  margin-top: -15vh;

  img {
    padding: 1.5vw;
    max-width: fit-content;
  }
}

.body-container__hero-image {
  float: right;
  width: 70%;
  height: auto;
  margin-right: 10vw;
}

.attribution {
  text-align: center;
  font-size: 11px;
  margin-top: 5vh;

  a {
    color: hsl(231, 45%, 44%);
  }
}
