* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", serif;
  // border: 1px solid rgb(255, 0, 0); //see borders
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10vw;

  &__learn-btn {
    border: 2px solid $tertiary-black;
    background-color: $primary-white;
    border-radius: 15px;
    padding: 15px 25px 15px 25px;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 7vh;
    cursor: pointer;

    &:hover {
      background-color: $tertiary-black;
      color: $primary-white;
    }
  }

  &__hero-text {
    font-size: 5em;
    margin-top: 18vh;
    &__make-text {
      display: block;
    }
  }

  &__hero-image-desktop {
    float: right;
    width: 58%;
    height: auto;
    margin-right: 10vw;
  }

  &__sponsors-container {
    margin-left: -1vw;
    margin-top: -5vh;

    img {
      padding: 1.5vw;
      max-width: fit-content;
    }
  }

  &__hero-image-mobile {
    display: none;
  }
}

p {
  line-height: 1.5;
  font-size: 1.2em;
}

.attribution {
  text-align: center;
  font-size: 11px;
  margin-top: 5vh;

  a {
    color: hsl(231, 45%, 44%);
  }
}

@media (max-width: 800px) {
  .body-container {
    @include centerFlex;
    &__hero-image-desktop {
      display: none;
    }

    &__hero-image-mobile {
      @include centerFlex;
      // width: 100%;
      height: auto;
    }

    &__hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;

      &__make-text {
        margin-right: 2vw;
      }
    }

    &__learn-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__sponsors-container {
      margin-top: 5vh;
    }
  }
}
