li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  padding: 15px 25px 15px 25px;
  font-weight: 500;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;

  &__logo {
    font-size: 2.3em;
    font-weight: 700;
    margin: 4vh 0 5vh 3vw;
  }

  &__links {
    &__dropdown-menu {
      display: none;
      &.active {
        display: block;
        position: absolute;
        background-color: $primary-white;
        min-width: 6vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
        overflow: auto;
        a {
          text-decoration: none;
          @include blockSize;
        }
      }
    }

    a:hover {
      background-color: $secondary-gray;
    }

    &__down-arrow {
      padding-left: 5px;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    &__login-btn {
      margin-right: 3vw;
      padding: 5px 0 5px 0;
      cursor: pointer;
    }

    &__register-btn {
      margin-right: 3vw;
      border: 2px solid $tertiary-black;
      border-radius: 15px;
      padding: 15px 25px 15px 25px;
      margin-top: -1vh;
      cursor: pointer;

      &:hover {
        background-color: $tertiary-black;
        color: $primary-white;
        text-decoration: none;
      }
    }
  }

  &__hamburger-btn {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar__links,
  .navbar__btn-container {
    display: none;
  }

  .navbar {
    display: flex;
    &__links {
      &.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
      }
      li {
        text-align: center;
        @include blockSize;
        // a {
        // }
      }
    }

    &__btn-container {
      list-style: none;
      &.active {
        @include centerFlex;
      }
    }

    &__hamburger-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      height: 21px;
    }
  }
}
