body {
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  margin-top: 10vh;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 40%;
  max-height: 30%;
}

.card__item {
  display: flex;
  align-items: left;
  padding: 25px;
}

.card__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.card__photo {
  float: left;
  border-radius: 10px;
  max-width: 50%;
}

.card__description {
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
}

.card__new-price {
  font-size: 2em;
  font-weight: bold;
  color: #3d8168;
}

button {
  background-color: #3d8168;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  padding: 12px 60px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
}
