@import "./variables";

.navbar {
  margin-top: 3vh;

  ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
    }
  }

  a {
    display: block;
    text-align: center;
    padding: 1vh 2vw;
    text-decoration: none;
    cursor: pointer;
  }
}

.feature-dropdown,
.company-dropdown {
  float: left;
  display: block;
  text-align: center;
  padding: 1vh 2vw;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-white;
  min-width: 160px;
  margin-top: 15px;
  box-shadow: 0px 8px 16px 0px $tertiary-black;
  z-index: 1;
  border-radius: 5px;

  a {
    color: $tertiary-black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: $secondary-gray;
  }
}

.feature-dropdown:hover,
.company-dropdown:hover {
  .dropdown-content {
    display: block;
  }
}

.dropdown-content > a > img {
  margin-right: 15px;
}

.down-arrow {
  padding-left: 5px;
}
