//import font
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

$primary-white: hsl(0, 0%, 98%);
$secondary-gray: hsl(0, 0%, 41%);
$tertiary-black: hsl(0, 0%, 8%);

* {
  box-sizing: border-box;
  font-family: "Epilogue", serif;
}

.navbar {
  margin-top: 3vh;
}

.navbar > ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar > ul > li,
.feature-dropdown,
.company-dropdown {
  float: left;
}

.navbar > ul > li > a,
.feature-dropdown,
.company-dropdown {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-white;
  min-width: 160px;
  margin-top: 15px;
  box-shadow: 0px 8px 16px 0px $tertiary-black;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: $tertiary-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $secondary-gray;
}

.feature-dropdown:hover .dropdown-content {
  display: block;
}

.company-dropdown:hover .dropdown-content {
  display: block;
}

#btn-container {
  float: right;
}

#btn-container__login-btn,
#btn-container__register-btn {
  float: left;
  margin-right: 30px;
}

#btn-container__login-btn {
  padding: 15px 25px 15px 25px;
}

#btn-container__register-btn {
  border: 2px solid $tertiary-black;
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
}

#btn-container__register-btn:hover {
  background-color: $tertiary-black;
}

#learn-btn {
  border: 2px solid $tertiary-black;
  background-color: $primary-white;
  border-radius: 15px;
  padding: 15px 25px 15px 25px;
  font-size: 1.5em;
  cursor: pointer;
}

#learn-btn:hover {
  background-color: $tertiary-black;
  color: $primary-white;
}

#logo {
  font-size: 2em;
  font-weight: bold;
  margin-right: 2vw;
}

#hero-text {
  font-size: 5em;
}

.hero-image {
  position: relative;
  float: right;
  width: 30%;
  height: auto;
}

.sponsors-container {
}

.sponsor__sponsor-img > img {
  padding: 1vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribUtion a {
  color: hsl(228, 45%, 44%);
}
